.dialog {
  display: inline-block;
  width: 370px;

  border-radius: 8px;
  padding: 16px;
  padding-bottom: 0;

  &.theme {
    &-blue {
      color: #7fbfbf;
      background-color: #003b4e;
      border: white solid 1px;
      a { color: #ffbf7f; }
      a:visited { color: #ffbf7f; }
      a:hover, a:active { color: #ffbf7f; }
    }
  }
}
