.brand_logo {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 44px;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: gray;
  text-align: center;
  vertical-align: middle;
}

.main_menu_ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}

.main_menu_li {
  width: 38px;
  height: 40px;
  display: inline-block;
  font-size: 1rem;
  border-right: 2px solid black;
  box-sizing: border-box;
}

.main_menu_text {
  transform: scale(0.8);
  font-weight: bold;
}

.main_menu_img {
  width: 28px;
  height: 28px;
  border: 2px solid black;
  box-sizing: border-box;
  position: relative;
  left: 0;
  right: 0;
  bottom: 2px;
  background-image: url(/stachu.gif);
}

