.brand_logo {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 44px;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: gray;
  text-align: center;
  vertical-align: middle;
}

.main_menu_ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}
